@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;900&display=swap');

:root {
  font-family: 'Poppins';
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: 'Poppins';
  background-color: white;
}

.nav {
    height: 100px;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    z-index: 1;
    margin: 0;
    padding-right: 40px;
    /*opacity: .5;*/  
  }
  
  .nav-logo-desktop {
    padding-top: 7px;
    height: 70px;
  }
  
  .nav>.nav-header {
    display: inline;
  }
  
  .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #183883;
    padding: 10px 10px 10px 5%;
  }
  
  .nav>.nav-btn {
    display: none;
  }
  
  .nav>.nav-links {
    display: inline;
    float: right;
    align-items: center;
    font-size: 18px;
    font-weight: semibold;
  }
  
  .nav>.nav-links>a {
    display: inline-block;
    padding: 35px 25px 35px 25px;
    text-decoration: none;
    color: #183883;
    font-weight: 600;
  }
  
  .nav>.nav-links>a:hover {
    color: #898dcf;
  }
  
  .nav>#nav-check {
    display: none;
  }

  .nav-logo-mobileview{
    display:none;
  }

  h1 {
    color:#183883;
    margin: 10px 0;
    font-weight: 500;
  }

  p{
    margin:0;
  }

  .spotlight{
    width:100%;
    height: 100vh;
    overflow: hidden;
  }

  .spotlight-img{
    width:100%;
    height: 100vh;
    object-fit: cover;
  }
  
  .about-csi{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 10% 100px 10%;
    gap: 10%;

  }

  .about-csi-content{
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-items: center;
    width: 300px;
    padding: 20px 0;
  }
  
  .our-journey{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 0 10% 100px 10%;
  }

  .our-journey-img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .our-journey-description{
    width:45%;
  }

  .supporting-organizations{
    background-color: #F4F4F4;
    padding: 40px 10%;
  }

  .supporting-organizations-logos{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px 0;
  }

  .supporting-organizations-logos > img{
    height: 120px;
    width: 120px;
    object-fit: contain;
  }

  .beachhack-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .beachhack-logo-img{
    height: 100px;
  }

  .BEACH-HACKATHON{
    color:black;
    font-size:40px; 
    font-weight:normal;
    line-height:1;
    margin: 0;
  }

  .BEACH-HACK-5{
    color:black;
    font-size:52px; 
    font-weight:bold;
    line-height: 1;  
    margin: 0;
  }

  .beachhack-paragraphs{
    display: flex;
    gap: 50px;
    padding: 50px 10%;
  }

  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 8));
    }
  }
  
  .beachhack-slider-container{
    width: 100%;
    padding: 0 10% 50px 10%;
  }

  .beachhack-slider {
    background: white;
    height: 350px;
    margin: auto;
    overflow: hidden;
    position: relative;
  }
  
  .beachhack-slide-track {
    -webkit-animation: scroll 25s linear infinite;
            animation: scroll 25s linear infinite;
    display: flex;
    gap: 20px;
    width: calc(250px * 14);
  }
  
  .beachhack-slider-imgs{
      height: 400px;
      width:600px;
  }

  .events{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3%;
    flex-wrap: wrap;
    padding: 50px 10% 25px 10% ;
  } 

  .events-div{
    min-width: 350px;
    width:31%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    overflow: hidden;
  }

  .events-div > img{
    width: 300px;
    height: 400px;
    object-fit: cover;
  }

  .event-btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding:25px 0 40px 0;
  }

  .event-btn{
    background-color: #183883;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .reach-us{
    background-color: lightgray;
    padding: 50px 0px 30px 0px;
  }

  .reach-us-inside{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      padding: 25px 0;
  }

  .reach-us-left{
    text-align: right;
  }

  .reach-us-right{
    text-align: left;
  }

  .footer{
    display: flex;
    align-items: center;
  }

  .footer-left{
    width: 40%;
    height: 100px;
    padding: 50px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
  }

  .footer-center{
    width:40%;
  }

  .footer-right{
    width: 20%;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .footer-right-imgs{
    display: flex;
    gap:10px;
  }

  @media (max-width:1200px) {
    .nav{
      height:100px;
    }

    .nav>.nav-btn {
      display: inline-block;
      position: absolute;
      right: 20px;
      top: 20px;
    }
  
    .nav>.nav-btn>label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
  
    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
      background-color: rgba(0, 0, 0, 0.3);
    }
  
    .nav>.nav-btn>label>span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #183883;
    }
  
    .nav>.nav-links {
      position: absolute;
      display: block;
      width: 70%;
      max-height: 280px;
      background-color: rgba(24, 56, 131, 0.9);
      transition: all 0.3s ease-in;
      overflow: hidden;
      top:80px;
      right: 0px;
      border-radius: 10px;
      padding: 0 0 0 0 ;
    }
  
    .nav>.nav-links>a {
      display: block;
      width: 100%;
      color:black;
      padding: 20px 0 20px 30px;
    }
  
    .nav>.nav-links>a:hover {
      color:#009743;
    }
    
    .nav>#nav-check:not(:checked)~.nav-links {
      height: 0px;
    }
  
    .nav>#nav-check:checked~.nav-links {
      height: calc(70vh - 5px);
      overflow-y: auto;
    }

    .nav-title{
      padding: 15px 20px;
    }

    .our-journey{
      padding: 0 0 50px 0;
    }

    .our-journey-img{
      width: 80%;
    }

    .our-journey-description{
      width: 80%;
    }

    .beachhack-paragraphs{
      display: flex;
      flex-direction: column;
    }
  }

  @media (max-width:900px){


    .about-csi{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .beachhack-title{
      flex-direction: column;
    }

    .BEACH-HACKATHON{
      color:black;
      font-size:30px; 
      font-weight:normal;
      line-height:1;
      margin: 0;
    }
  
    .BEACH-HACK-5{
      color:black;
      font-size:39px; 
      font-weight:bold;
      line-height: 1;  
      margin: 0;
    }

    .events{
      width: 100%;
      padding: 0 10% 0 10%;
    }

    .events-div{
      width: 80%;
    }

    .footer{
      display: flex;
      flex-direction: column;
      height: fit-content;

    }

    .footer-left{
      padding: 20px 10px;
      height: fit-content;
      width:100%;
    }

    .footer-center{
      display: none;
    }
  }

  @media (max-width:500px){
    .nav-logo-desktop{
      display: none;
    }

    .nav-logo-mobileview{
      display: block;
      height: 50px;
      margin: 10px 0;
    }

    .footer-left{
      height: fit-content;
    }
    .footer-left-img{
      width: 90%;
    }
  }